.card:hover img {
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-delay: 0.3s;
  transition-timing-function: ease-in-out;
  height: 200px;
  opacity: 0.8;
}


.card img{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  height: 200px;
}

.card-img-wrapper{
  overflow: hidden;
}

.member-icons{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.member-icons:hover{

}
