<div class="card">
  <div class="card-header">
    Add New Property
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" autocomplete="off" #Form="ngForm">
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input type="text" class="form-control" ngModel name="Name" required minlength="5">
      </div>
      <div class="form-group col-12">
        <label for="type">Type</label>
        <input type="text" class="form-control" ngModel name="Type">
      </div>
      <div class="form-group col-12">
        <label for="price">price</label>
        <input type="text" class="form-control" ngModel name="Price">
      </div>

      <div class="form-group col-12">
        <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="submit" (click)="onBack()" class="btn btn-primary mr-2">Cancel</button>
      </div>
    </form>
  </div>
</div>
